black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
imbalanced-learn
joblib
pyreadr
python-dateutil
pytz
scipy
six
threadpoolctl
tzdata
tqdm
typer
/mnt/HDSCA_Pipeline/software/csi_utils
