{% extends "default/index.html.jinja2" %}

{% block title %}ocular_streamlining documentation{% endblock %}

{% block content %}
    <main class="pdoc">

        <h1>ocular_streamlining: documentation</h1>

        <p>Welcome to the csi_utils documentation. Please use the "Available Modules" list on the left to access what you need. Top-level modules include:</p>

        <ul>
            <li><a href="streamlining_training.html">streamlining_training</a>: the training models for training the streamlining models.</li>
            <li><a href="ocular_streamlining.html">ocular_streamlining</a>: the pipeline modules for applying streamlining and channel classifier models.</li>
            <li><a href="scripts.html">scripts</a>: pipeline-related scripts.</li>
        </ul>

        <p>To modify this page, please edit the <code>docs/theme/index.html.jinja2</code> file in the repository.</p>
    </main>
{% endblock %}